In [1]:
#importing dependencies

from sklearn import tree
import pandas as pd
import os

In [2]:
#Loading CSV

# df = pd.read_csv(os.path.join("..", "Resources", "tennis_data.csv"))
df = pd.read_csv(os.path.join("Resources", "tennis_data.csv"))

df.head()

C:\Users\Laurent\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (36) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,pl1_flag,pl1_year_pro,pl1_weight,pl1_height,pl1_hand,pl2_flag,pl2_year_pro,pl2_weight,pl2_height,pl2_hand
0,1,Adelaide,Adelaide International 1,2022-01-03,ATP250,Outdoor,Hard,1st Round,3,Kwon S.W.,...,KOR,2015.0,72.0,180.0,Right-Handed,JPN,2014.0,64.0,170.0,Left-Handed
1,1,Adelaide,Adelaide International 1,2022-01-03,ATP250,Outdoor,Hard,1st Round,3,Monteiro T.,...,BRA,2011.0,78.0,183.0,Left-Handed,GER,2014.0,80.0,188.0,Right-Handed
2,1,Adelaide,Adelaide International 1,2022-01-03,ATP250,Outdoor,Hard,1st Round,3,Djere L.,...,SRB,2013.0,80.0,185.0,Right-Handed,ESP,2011.0,76.0,180.0,Right-Handed
3,1,Adelaide,Adelaide International 1,2022-01-03,ATP250,Outdoor,Hard,1st Round,3,Johnson S.,...,USA,2012.0,86.0,188.0,Right-Handed,AUS,2018.0,85.0,188.0,Right-Handed
4,1,Adelaide,Adelaide International 1,2022-01-04,ATP250,Outdoor,Hard,1st Round,3,Moutet C.,...,FRA,2016.0,71.0,175.0,Left-Handed,DEN,2020.0,77.0,188.0,Right-Handed

In [3]:
#Cleaning Data Frame

data = df[["Winner","pl1_height","pl1_weight","pl1_hand","Loser","pl2_height","pl2_weight","pl2_hand"]]
feature_names = data.columns
data.head()

,Winner,pl1_height,pl1_weight,pl1_hand,Loser,pl2_height,pl2_weight,pl2_hand
0,Kwon S.W.,180.0,72.0,Right-Handed,Nishioka Y.,170.0,64.0,Left-Handed
1,Monteiro T.,183.0,78.0,Left-Handed,Altmaier D.,188.0,80.0,Right-Handed
2,Djere L.,185.0,80.0,Right-Handed,Carballes Baena R.,180.0,76.0,Right-Handed
3,Johnson S.,188.0,86.0,Right-Handed,Vukic A.,188.0,85.0,Right-Handed
4,Moutet C.,175.0,71.0,Left-Handed,Rune H.,188.0,77.0,Right-Handed

In [4]:
#Droping all NaN values

data. dropna()
data

,Winner,pl1_height,pl1_weight,pl1_hand,Loser,pl2_height,pl2_weight,pl2_hand
0,Kwon S.W.,180.0,72.0,Right-Handed,Nishioka Y.,170.0,64.0,Left-Handed
1,Monteiro T.,183.0,78.0,Left-Handed,Altmaier D.,188.0,80.0,Right-Handed
2,Djere L.,185.0,80.0,Right-Handed,Carballes Baena R.,180.0,76.0,Right-Handed
3,Johnson S.,188.0,86.0,Right-Handed,Vukic A.,188.0,85.0,Right-Handed
4,Moutet C.,175.0,71.0,Left-Handed,Rune H.,188.0,77.0,Right-Handed
...,...,...,...,...,...,...,...,...
35918,Simon G.,183.0,70.0,Right-Handed,Stepanek R.,185.0,76.0,Right-Handed
35919,Murray A.,191.0,84.0,Right-Handed,Federer R.,185.0,85.0,Right-Handed
35920,Djokovic N.,188.0,77.0,Right-Handed,Simon G.,183.0,70.0,Right-Handed
35921,Davydenko N.,178.0,70.0,Right-Handed,Murray A.,191.0,84.0,Right-Handed
35922,Djokovic N.,188.0,77.0,Right-Handed,Davydenko N.,178.0,70.0,Right-Handed

# Pre-processing

In [ ]:
X = data[["pl1_height","pl1_weight","pl1_hand"]]
y = data[["Winner"]].values.reshape(-1,1)
print(X.shape, y.shape)

In [ ]:
#creating a copy of the dataframe

data_1 = X.copy()

In [ ]:
data_binary_encoded = pd.get_dummies(data_1,columns=["pl1_hand"])
data_binary_encoded

In [ ]:
data_2 = y.copy()

In [ ]:
data_binary_encoded_2 = pd.get_dummies(data_2,columns=["Winner"])
data_binary_encoded_2