In [4]:
#importing dependencies

from sklearn import tree
import pandas as pd
import os
import matplotlib.pyplot as plt

In [5]:
#Loading CSV

# df = pd.read_csv(os.path.join("..", "Resources", "tennis_data.csv"))
df = pd.read_csv(os.path.join("Resources", "tennis_data.csv"))

df.head()

C:\Users\Laurent\anaconda3\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3441: DtypeWarning: Columns (36) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ATP,Location,Tournament,Date,Series,Court,Surface,Round,Best of,Winner,...,pl1_flag,pl1_year_pro,pl1_weight,pl1_height,pl1_hand,pl2_flag,pl2_year_pro,pl2_weight,pl2_height,pl2_hand
0,1,Adelaide,Adelaide International 1,2022-01-03,ATP250,Outdoor,Hard,1st Round,3,Kwon S.W.,...,KOR,2015.0,72.0,180.0,Right-Handed,JPN,2014.0,64.0,170.0,Left-Handed
1,1,Adelaide,Adelaide International 1,2022-01-03,ATP250,Outdoor,Hard,1st Round,3,Monteiro T.,...,BRA,2011.0,78.0,183.0,Left-Handed,GER,2014.0,80.0,188.0,Right-Handed
2,1,Adelaide,Adelaide International 1,2022-01-03,ATP250,Outdoor,Hard,1st Round,3,Djere L.,...,SRB,2013.0,80.0,185.0,Right-Handed,ESP,2011.0,76.0,180.0,Right-Handed
3,1,Adelaide,Adelaide International 1,2022-01-03,ATP250,Outdoor,Hard,1st Round,3,Johnson S.,...,USA,2012.0,86.0,188.0,Right-Handed,AUS,2018.0,85.0,188.0,Right-Handed
4,1,Adelaide,Adelaide International 1,2022-01-04,ATP250,Outdoor,Hard,1st Round,3,Moutet C.,...,FRA,2016.0,71.0,175.0,Left-Handed,DEN,2020.0,77.0,188.0,Right-Handed

In [6]:
# dataframe 1 : percentage of games won per player

df_winner = df.groupby(by=["Winner"]).count().rename(columns={"ATP":"games_played"}).reset_index()[["Winner","games_played"]]
df_loser = df.groupby(by=["Loser"]).count().rename(columns={"ATP":"games_played"}).reset_index()[["Loser","games_played"]]
df_games = pd.merge(df_winner, df_loser, left_on="Winner", right_on="Loser", how="inner", suffixes=("_win", "_lose"))
df_games["games_played"] = df_games["games_played_win"] + df_games["games_played_lose"]
df_games = df_games.rename(columns={"Winner":"player_name"})[["player_name", "games_played","games_played_win"]]
df_games["win_percentage"] = df_games["games_played_win"]/df_games["games_played"]
df_games.head()

    player_name  games_played  games_played_win  win_percentage
0    Acasuso J.            99                50        0.505051
1     Ahouda A.             4                 1        0.250000
2  Ajdukovic D.             2                 1        0.500000
3      Albot R.           184                73        0.396739
4    Alcaraz C.            49                30        0.612245

In [7]:
# dataframe 2 : player statistics for each player

df_player_stats = df.groupby(by=["Winner"]).first().reset_index().rename(columns={
    "Winner":"player_name", 
    "pl1_weight":"weight",
    "pl1_height": "height",
    "pl1_hand": "hand"})[["player_name","weight","height","hand"]]
df_player_stats.head()

    player_name  weight  height          hand
0    Acasuso J.    86.0   191.0  Right-Handed
1     Ahouda A.    76.0   185.0  Right-Handed
2  Ajdukovic D.    77.0   185.0  Right-Handed
3      Albot R.    69.0   175.0  Right-Handed
4    Alcaraz C.    72.0   185.0  Right-Handed

In [8]:
# dataframe merged : merge of df_games, df_player_stats on player name
df_merged = pd.merge(df_games, df_player_stats, on="player_name", how="inner")
df_merged.head()

,player_name,games_played,games_played_win,win_percentage,weight,height,hand
0,Acasuso J.,99,50,0.505051,86.0,191.0,Right-Handed
1,Ahouda A.,4,1,0.250000,76.0,185.0,Right-Handed
2,Ajdukovic D.,2,1,0.500000,77.0,185.0,Right-Handed
3,Albot R.,184,73,0.396739,69.0,175.0,Right-Handed
4,Alcaraz C.,49,30,0.612245,72.0,185.0,Right-Handed

In [9]:
#Cleaning Data Frame

df_merged = df_merged.dropna()
df_merged

,player_name,games_played,games_played_win,win_percentage,weight,height,hand
0,Acasuso J.,99,50,0.505051,86.0,191.0,Right-Handed
1,Ahouda A.,4,1,0.250000,76.0,185.0,Right-Handed
2,Ajdukovic D.,2,1,0.500000,77.0,185.0,Right-Handed
3,Albot R.,184,73,0.396739,69.0,175.0,Right-Handed
4,Alcaraz C.,49,30,0.612245,72.0,185.0,Right-Handed
...,...,...,...,...,...,...,...
657,Zopp J.,47,16,0.340426,88.0,191.0,Right-Handed
658,Zovko L.,5,2,0.400000,80.0,191.0,Right-Handed
659,Zverev A.,430,297,0.690698,86.0,198.0,Right-Handed
660,Zverev M.,313,125,0.399361,88.0,191.0,Left-Handed
661,de Voest R.,4,2,0.500000,68.0,180.0,Right-Handed

# Pre-processing

In [10]:
df_clean = pd.get_dummies(df_merged, columns=["hand"])
df_clean.tail()

,player_name,games_played,games_played_win,win_percentage,weight,height,hand_Left-Handed,hand_Right-Handed
657,Zopp J.,47,16,0.340426,88.0,191.0,0,1
658,Zovko L.,5,2,0.400000,80.0,191.0,0,1
659,Zverev A.,430,297,0.690698,86.0,198.0,0,1
660,Zverev M.,313,125,0.399361,88.0,191.0,1,0
661,de Voest R.,4,2,0.500000,68.0,180.0,0,1

In [11]:
X = df_clean[["weight","height","hand_Left-Handed","hand_Right-Handed"]]
y = df_clean["win_percentage"].values.reshape(-1,1)

In [12]:
print(X)

     weight  height  hand_Left-Handed  hand_Right-Handed
0      86.0   191.0                 0                  1
1      76.0   185.0                 0                  1
2      77.0   185.0                 0                  1
3      69.0   175.0                 0                  1
4      72.0   185.0                 0                  1
..      ...     ...               ...                ...
657    88.0   191.0                 0                  1
658    80.0   191.0                 0                  1
659    86.0   198.0                 0                  1
660    88.0   191.0                 1                  0
661    68.0   180.0                 0                  1

[633 rows x 4 columns]

In [13]:
print(y.max())

0.8578784757981462

In [14]:
print(y.max())

0.8578784757981462

In [15]:
print(y)

[[0.50505051]
 [0.25      ]
 [0.5       ]
 [0.39673913]
 [0.6122449 ]
 [0.61386139]
 [0.41176471]
 [0.41176471]
 [0.1875    ]
 [0.5       ]
 [0.61428571]
 [0.58375635]
 [0.25      ]
 [0.48444444]
 [0.30555556]
 [0.41223404]
 [0.05882353]
 [0.5       ]
 [0.28571429]
 [0.11764706]
 [0.60674157]
 [0.5       ]
 [0.35714286]
 [0.46153846]
 [0.5199115 ]
 [0.32978723]
 [0.25      ]
 [0.37209302]
 [0.15384615]
 [0.53333333]
 [0.4       ]
 [0.28205128]
 [0.5       ]
 [0.5       ]
 [0.44680851]
 [0.47470817]
 [0.28571429]
 [0.63245033]
 [0.59821429]
 [0.38297872]
 [0.22916667]
 [0.40728477]
 [0.46043165]
 [0.47229551]
 [0.31944444]
 [0.16666667]
 [0.50125313]
 [0.41949153]
 [0.66476462]
 [0.4       ]
 [0.42045455]
 [0.37433155]
 [0.65142857]
 [0.35      ]
 [0.36842105]
 [0.54028436]
 [0.42857143]
 [0.22222222]
 [0.41880342]
 [0.43209877]
 [0.33333333]
 [0.31818182]
 [0.30769231]
 [0.5       ]
 [0.5       ]
 [0.2       ]
 [0.23076923]
 [0.38255034]
 [0.33333333]
 [0.65517241]
 [0.39240506]
 [0.25      ]
 [0.28571429]
 [0.29411765]
 [0.5       ]
 [0.42857143]
 [0.5       ]
 [0.42592593]
 [0.44827586]
 [0.29310345]
 [0.43918919]
 [0.61824324]
 [0.38888889]
 [0.3015873 ]
 [0.33333333]
 [0.37647059]
 [0.42857143]
 [0.36842105]
 [0.58333333]
 [0.34693878]
 [0.55555556]
 [0.4939759 ]
 [0.47239264]
 [0.33663366]
 [0.51449275]
 [0.65025907]
 [0.34693878]
 [0.18181818]
 [0.3852459 ]
 [0.08333333]
 [0.5       ]
 [0.37007874]
 [0.44444444]
 [0.2       ]
 [0.54006969]
 [0.25      ]
 [0.59259259]
 [0.28947368]
 [0.50241546]
 [0.35714286]
 [0.35443038]
 [0.26415094]
 [0.36842105]
 [0.4195122 ]
 [0.16666667]
 [0.49411765]
 [0.6028169 ]
 [0.33333333]
 [0.40944882]
 [0.5       ]
 [0.375     ]
 [0.57386364]
 [0.30681818]
 [0.25      ]
 [0.5       ]
 [0.46153846]
 [0.66666667]
 [0.7372549 ]
 [0.46202532]
 [0.16666667]
 [0.44      ]
 [0.2       ]
 [0.30952381]
 [0.5       ]
 [0.4       ]
 [0.27027027]
 [0.4173913 ]
 [0.5       ]
 [0.22222222]
 [0.59929701]
 [0.48125   ]
 [0.85787848]
 [0.375     ]
 [0.46938776]
 [0.52184466]
 [0.45454545]
 [0.43636364]
 [0.5       ]
 [0.30864198]
 [0.4       ]
 [0.38655462]
 [0.25      ]
 [0.5       ]
 [0.27848101]
 [0.46052632]
 [0.37128713]
 [0.50226244]
 [0.33333333]
 [0.66666667]
 [0.5       ]
 [0.375     ]
 [0.34848485]
 [0.5       ]
 [0.09090909]
 [0.37037037]
 [0.41284404]
 [0.28571429]
 [0.22727273]
 [0.35294118]
 [0.50282486]
 [0.30681818]
 [0.37810945]
 [0.33333333]
 [0.82725061]
 [0.5       ]
 [0.6875    ]
 [0.60655738]
 [0.10526316]
 [0.61867704]
 [0.52923538]
 [0.5       ]
 [0.36666667]
 [0.524     ]
 [0.48469388]
 [0.38174274]
 [0.16666667]
 [0.66666667]
 [0.45454545]
 [0.28571429]
 [0.47137405]
 [0.5625    ]
 [0.61828737]
 [0.46153846]
 [0.125     ]
 [0.46590909]
 [0.2       ]
 [0.36363636]
 [0.40833333]
 [0.42201835]
 [0.36470588]
 [0.45081967]
 [0.4378882 ]
 [0.48684211]
 [0.14285714]
 [0.57883369]
 [0.44936709]
 [0.32051282]
 [0.33333333]
 [0.5       ]
 [0.23076923]
 [0.26086957]
 [0.65217391]
 [0.33333333]
 [0.16666667]
 [0.16666667]
 [0.45124717]
 [0.36065574]
 [0.33333333]
 [0.40540541]
 [0.38461538]
 [0.28125   ]
 [0.38709677]
 [0.37735849]
 [0.125     ]
 [0.49417249]
 [0.25      ]
 [0.5       ]
 [0.56183746]
 [0.44212963]
 [0.34545455]
 [0.2987013 ]
 [0.21875   ]
 [0.44160584]
 [0.45454545]
 [0.33333333]
 [0.48      ]
 [0.41666667]
 [0.43014706]
 [0.22222222]
 [0.2       ]
 [0.5       ]
 [0.44221106]
 [0.36734694]
 [0.38888889]
 [0.56540084]
 [0.31578947]
 [0.125     ]
 [0.33333333]
 [0.27777778]
 [0.45454545]
 [0.5       ]
 [0.53061224]
 [0.17241379]
 [0.27027027]
 [0.0625    ]
 [0.62228654]
 [0.44266055]
 [0.33333333]
 [0.5106383 ]
 [0.48780488]
 [0.46808511]
 [0.25      ]
 [0.38679245]
 [0.5       ]
 [0.25      ]
 [0.55555556]
 [0.39285714]
 [0.49723757]
 [0.25      ]
 [0.14285714]
 [0.31034483]
 [0.23684211]
 [0.38271605]
 [0.30769231]
 [0.57534247]
 [0.51814516]
 [0.33333333]
 [0.48305085]
 [0.29090909]
 [0.55972696]
 [0.41304348]
 [0.48529412]
 [0.27586207]
 [0.27272727]
 [0.2       ]
 [0.14285714]
 [0.5       ]
 [0.24074074]
 [0.23076923]
 [0.4       ]
 [0.46863469]
 [0.2       ]
 [0.34090909]
 [0.44927536]
 [0.56646526]
 [0.5       ]
 [0.43209877]
 [0.33333333]
 [0.66666667]
 [0.59259259]
 [0.42307692]
 [0.33333333]
 [0.34285714]
 [0.33898305]
 [0.24      ]
 [0.33333333]
 [0.49494949]
 [0.2       ]
 [0.2       ]
 [0.2       ]
 [0.2       ]
 [0.27272727]
 [0.42162162]
 [0.36046512]
 [0.25      ]
 [0.3       ]
 [0.40697674]
 [0.35897436]
 [0.66666667]
 [0.22222222]
 [0.2       ]
 [0.23809524]
 [0.43478261]
 [0.50724638]
 [0.61904762]
 [0.39772727]
 [0.38028169]
 [0.43167702]
 [0.33333333]
 [0.35714286]
 [0.33333333]
 [0.1       ]
 [0.36206897]
 [0.5       ]
 [0.34615385]
 [0.14285714]
 [0.3258427 ]
 [0.14285714]
 [0.2       ]
 [0.22222222]
 [0.55208333]
 [0.4954955 ]
 [0.41772152]
 [0.51950078]
 [0.125     ]
 [0.36654804]
 [0.14285714]
 [0.41503268]
 [0.28813559]
 [0.33333333]
 [0.26530612]
 [0.34615385]
 [0.40677966]
 [0.46779661]
 [0.36666667]
 [0.46428571]
 [0.45491803]
 [0.38167939]
 [0.42857143]
 [0.33333333]
 [0.3164557 ]
 [0.15384615]
 [0.28571429]
 [0.36458333]
 [0.46153846]
 [0.33333333]
 [0.16666667]
 [0.42611684]
 [0.4       ]
 [0.46964856]
 [0.46111111]
 [0.5       ]
 [0.4245283 ]
 [0.25      ]
 [0.68666667]
 [0.28571429]
 [0.22222222]
 [0.32      ]
 [0.35555556]
 [0.53191489]
 [0.25      ]
 [0.33333333]
 [0.5       ]
 [0.5       ]
 [0.44588745]
 [0.26666667]
 [0.42857143]
 [0.2       ]
 [0.36538462]
 [0.28571429]
 [0.3030303 ]
 [0.55555556]
 [0.28571429]
 [0.56585366]
 [0.65112782]
 [0.50154799]
 [0.28571429]
 [0.41269841]
 [0.33333333]
 [0.18181818]
 [0.5       ]
 [0.41666667]
 [0.49230769]
 [0.16666667]
 [0.51815182]
 [0.4122807 ]
 [0.125     ]
 [0.2962963 ]
 [0.76985195]
 [0.51851852]
 [0.84093437]
 [0.1875    ]
 [0.58333333]
 [0.65775401]
 [0.33333333]
 [0.18181818]
 [0.3125    ]
 [0.17391304]
 [0.25      ]
 [0.47338936]
 [0.6650165 ]
 [0.43396226]
 [0.5       ]
 [0.54696133]
 [0.26923077]
 [0.3125    ]
 [0.35      ]
 [0.41860465]
 [0.5       ]
 [0.5       ]
 [0.33333333]
 [0.35714286]
 [0.42592593]
 [0.52447552]
 [0.25      ]
 [0.40909091]
 [0.35714286]
 [0.34615385]
 [0.46626984]
 [0.23529412]
 [0.17647059]
 [0.50925926]
 [0.23076923]
 [0.23076923]
 [0.35714286]
 [0.33333333]
 [0.45606695]
 [0.5       ]
 [0.4       ]
 [0.45505618]
 [0.25      ]
 [0.37623762]
 [0.22916667]
 [0.26315789]
 [0.40659341]
 [0.14285714]
 [0.43636364]
 [0.52      ]
 [0.16666667]
 [0.23529412]
 [0.33333333]
 [0.45454545]
 [0.55753647]
 [0.5       ]
 [0.5       ]
 [0.37956204]
 [0.37837838]
 [0.22222222]
 [0.45945946]
 [0.48066298]
 [0.66977612]
 [0.09090909]
 [0.30434783]
 [0.5       ]
 [0.5       ]
 [0.31884058]
 [0.27710843]
 [0.5       ]
 [0.54761905]
 [0.33636364]
 [0.57281553]
 [0.5       ]
 [0.29230769]
 [0.3974359 ]
 [0.72058824]
 [0.375     ]
 [0.5       ]
 [0.40206186]
 [0.24242424]
 [0.33333333]
 [0.33333333]
 [0.4296875 ]
 [0.27586207]
 [0.61904762]
 [0.36363636]
 [0.28571429]
 [0.37142857]
 [0.62209302]
 [0.50724638]
 [0.4       ]
 [0.33333333]
 [0.48275862]
 [0.3       ]
 [0.14285714]
 [0.25      ]
 [0.39495798]
 [0.22222222]
 [0.46478873]
 [0.33333333]
 [0.33333333]
 [0.25      ]
 [0.21052632]
 [0.16666667]
 [0.40909091]
 [0.35294118]
 [0.3814433 ]
 [0.56267409]
 [0.41218638]
 [0.48709677]
 [0.125     ]
 [0.5       ]
 [0.40677966]
 [0.4       ]
 [0.56444444]
 [0.36363636]
 [0.35606061]
 [0.33333333]
 [0.57259159]
 [0.6446281 ]
 [0.375     ]
 [0.25925926]
 [0.66666667]
 [0.18518519]
 [0.3359375 ]
 [0.55775578]
 [0.70081967]
 [0.5       ]
 [0.29292929]
 [0.5035461 ]
 [0.33333333]
 [0.44611529]
 [0.27272727]
 [0.34722222]
 [0.34090909]
 [0.42987805]
 [0.43137255]
 [0.25      ]
 [0.5       ]
 [0.36842105]
 [0.5530086 ]
 [0.57142857]
 [0.45481928]
 [0.36434109]
 [0.25      ]
 [0.5       ]
 [0.38461538]
 [0.39130435]
 [0.47058824]
 [0.5       ]
 [0.16666667]
 [0.65141612]
 [0.43859649]
 [0.46445498]
 [0.53984576]
 [0.48424069]
 [0.25      ]
 [0.33766234]
 [0.33333333]
 [0.51461988]
 [0.41935484]
 [0.66428571]
 [0.669279  ]
 [0.48780488]
 [0.28125   ]
 [0.08333333]
 [0.18181818]
 [0.375     ]
 [0.58823529]
 [0.6       ]
 [0.33333333]
 [0.29166667]
 [0.2173913 ]
 [0.6       ]
 [0.5       ]
 [0.30645161]
 [0.33333333]
 [0.3125    ]
 [0.33333333]
 [0.31372549]
 [0.1       ]
 [0.56884562]
 [0.45185185]
 [0.4       ]
 [0.4       ]
 [0.26666667]
 [0.32142857]
 [0.30496454]
 [0.375     ]
 [0.5       ]
 [0.38095238]
 [0.33333333]
 [0.234375  ]
 [0.33333333]
 [0.66023739]
 [0.16666667]
 [0.4       ]
 [0.6       ]
 [0.28      ]
 [0.5       ]
 [0.28571429]
 [0.25      ]
 [0.33333333]
 [0.16666667]
 [0.14285714]
 [0.25      ]
 [0.28333333]
 [0.42666667]
 [0.41216216]
 [0.524     ]
 [0.33333333]
 [0.31818182]
 [0.39908257]
 [0.33333333]
 [0.4375    ]
 [0.5       ]
 [0.26666667]
 [0.09090909]
 [0.38461538]
 [0.34042553]
 [0.4       ]
 [0.69069767]
 [0.39936102]
 [0.5       ]]

# Splitting training data

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y)

# Scaling data

In [17]:
from sklearn.preprocessing import StandardScaler

X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)

# Transforming data

In [18]:
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)

Deep Learning

In [19]:
from tensorflow.keras.utils import to_categorical

In [20]:
# One-hot encoding
y_train_categorical = to_categorical(y_train_scaled)
y_test_categorical = to_categorical(y_test_scaled)

In [28]:
# Creating a normal neural network with 3 inputs, 6 hidden nodes, and 1 output
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

model = Sequential()
model.add(Dense(units=6, activation='relu', input_dim=3))
model.add(Dense(units=1, activation='softmax'))

In [29]:
model.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 6)                 24

 dense_5 (Dense)             (None, 1)                 7

=================================================================
Total params: 31
Trainable params: 31
Non-trainable params: 0
_________________________________________________________________

In [30]:
# Compile the model
model.compile(optimizer='adam',
              loss='mean_squared_error',
              metrics=['accuracy'])

In [31]:
# Fit the model to the training data
model.fit(
    X_train_scaled,
    y_train_categorical,
    epochs=100,
    shuffle=True,
    verbose=2
)

Epoch 1/100

ValueError: in user code:

    File "C:\Users\Laurent\anaconda3\envs\PythonData\lib\site-packages\keras\engine\training.py", line 1021, in train_function  *
        return step_function(self, iterator)
    File "C:\Users\Laurent\anaconda3\envs\PythonData\lib\site-packages\keras\engine\training.py", line 1010, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "C:\Users\Laurent\anaconda3\envs\PythonData\lib\site-packages\keras\engine\training.py", line 1000, in run_step  **
        outputs = model.train_step(data)
    File "C:\Users\Laurent\anaconda3\envs\PythonData\lib\site-packages\keras\engine\training.py", line 859, in train_step
        y_pred = self(x, training=True)
    File "C:\Users\Laurent\anaconda3\envs\PythonData\lib\site-packages\keras\utils\traceback_utils.py", line 67, in error_handler
        raise e.with_traceback(filtered_tb) from None
    File "C:\Users\Laurent\anaconda3\envs\PythonData\lib\site-packages\keras\engine\input_spec.py", line 264, in assert_input_compatibility
        raise ValueError(f'Input {input_index} of layer "{layer_name}" is '

    ValueError: Input 0 of layer "sequential_2" is incompatible with the layer: expected shape=(None, 3), found shape=(None, 4)